<mat-card class="container">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [mapTypeId]="mapType"
    [zoom]="zoom"
  >
    <agm-marker [latitude]="latitude" [longitude]="longitude">
      <agm-info-window [disableAutoPan]="true">
        <mat-list role="list">
          <mat-list-item role="listitem"
            ><strong>Latitude: </strong> {{ latitude }}</mat-list-item
          >
          <mat-list-item role="listitem"
            ><strong>Longitude: </strong> {{ longitude }}</mat-list-item
          >
        </mat-list>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <div class="class-button">
    <button
      color="primary"
      class="mat-raised-button mat-button-base mat-primary"
      (click)="getMyLocation()"
    >
      <mat-icon>location_on</mat-icon>
    </button>
  </div>
</mat-card>
