.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.container {
  height: 500px;
}

.row-form {
  margin: 2%;
}

.content {
  margin: 10%;
}

.class-button {
  margin-top: 1%;
  text-align: right;
}

.header-class {
  background-color: #27465f;
  height: 25%;
}

.card {
  max-width: 400px;
}
